@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

#container {
  display: flex;
}

#left-side {
  width: 30vw;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #00A0A6;
}

#right-side {
  width: 70vw;
  min-height: 100vh;
  text-align: center;
  background-color: #F2F2F2;
}

#tracker {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

#new-row {
  padding-bottom: 100px;
}

#footer-text {
  color: #686868;
}

.character-table {
  text-align: center;
  border-collapse: collapse;
}

.initiative {
  width: 20%;
}

.name {
  width: 60%;
}

.hitpoints {
  width: 20%;
}

.remove {
  width: 20%;
}

.cross {
  color: #F00;
}

.button {
  border: none;
  background-color: #313639;
  color: #F2F2F2;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.turn {
  background-color: #F00;
}

#mobile-header {
  display: none;
}

/* Mobile Styles */
@media only screen and (max-width: 420px) {
  #mobile-header {
    display: block;
  }

  #left-side {
    display: none;
    position: fixed;
    width: 85vw;
    height: 100vh;
  }

  #right-side {
    width: 100vw;
  }

  input[type=text] {
    font-size: 8pt;
    padding: 12px 10px;
  }

  input[type=number] {
    font-size: 8pt;
    padding: 12px 5px;
  }

  .button {
    padding: 12px 10px;
    font-size: 12px;
  }

  #footer-text {
    margin-left: 20px;
    margin-right: 20px;
  }

  #mobile-header {
    display: flex;
    background-color: #00A0A6;
    font-size: 18pt;
  }
}
